/*
job-description section

blue header
header button

rounded corners
gray line bottom
gray side to white

*/

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 157px 1fr;
  grid-template-rows: 1fr;
  background-color: #ECF2F7;
}

/* sidebar navigation menu */

aside {
  /*min-width: 156px;*/
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 140px 220px 223px 1fr;
  background-color: #354051;
  font-family: 'Hind', sans-serif;
  letter-spacing: 0.2px;
  font-size: 0.65rem;
  color: #A0ABBE;
}

h4 {
  font-size: 0.65rem;
  font-weight: 600;
}

.profile-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 2px solid #2B3443;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 62px;
  margin: 2px 7px 0 0;
  border-radius: 50%;
  transform: scaleX(-1);
}

.profile-name {
  height: 0.75rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  font-family: 'Average Sans', sans-serif;
  font-size: 0.78rem;
  letter-spacing: 0.2px;
}

.profile-name:hover {
  color: #ffffff;
  cursor: pointer;
}

.fa-caret-down {
  height: 0.45rem;
  margin: 1px 0 0 5px;
}

.main-nav,
.admin-nav,
.categories {
  height: 100%;
  padding-top: 8px;
  border-top: 1px solid #3B4759;
  border-bottom: 2px solid #2B3443;
  display: grid;
  grid-template-rows: 27px repeat(5, 15.85%);
  grid-template-columns: 1fr;
}

.aside-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-left: 18px;
  color: #63728B;
  font-weight: 700;
}

.main-nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.icon-group {
  height: 35px;
  padding-left: 16px;
  border-left: 2px solid transparent;
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-column-gap: 6px;
  align-items: center;
}

.icon-group:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #303949;
  border-left: 2px solid #1A8FD8;
}

.icon-group i {
  grid-column: 1 / 2;
  font-size: 0.825rem;
  padding-bottom: 2px;
}

.icon-group h4 {
  grid-column: 2 / 3;
  padding-left: 3px;
  letter-spacing: 0.04rem;
}

.aside-resumes i,
.aside-tasks i,
.aside-calendar i {
  padding-bottom: 3px;
}

.admin-nav {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding-top: 10px;
  grid-template-rows: 29px repeat(5, 15.85%);
}

.admin-nav .admin-header {
  padding-bottom: 15px;
}

.categories {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  height: 225px;
  padding-top: 15px;
  grid-template-rows: 29px repeat(5, 15.85%);
  border-bottom: 0;
}

.categories .icon-group {
  padding-left: 15px;
}

.categories h4 {
  letter-spacing: 0.02rem;
  margin-left: 2px;
}

.aside-administrative i {
  color: #FFD505;
}

.aside-design i {
  color: #2CAFFE;
}

.aside-executive i {
  color: #E91A60;
}

.aside-hr i {
  color: #02A989;
}

/* main content section */

main {
  background-color: #ffffff;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 63px 151px 990px;
  grid-template-columns: 1fr;
}

/* search bar area */

nav {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  border-bottom: 1.5px solid #EDEEF0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 63px 1fr repeat(3, 63px);
}

nav section {
  border-right: 1.5px solid #EDEEF0;
}

.menu-toggle,
.add-friend,
.add-event,
.toggle-view {
  color: #9BA4B0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle:hover,
.add-friend:hover,
.add-event:hover,
.toggle-view:hover {
  background-color: #2CAFFE;
  cursor: pointer;
  border-color: transparent;
}

.menu-toggle:hover > i,
.add-friend:hover > i,
.add-event:hover > i,
.toggle-view:hover > i {
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.15);
}

.menu-toggle:active,
.add-friend:active,
.add-event:active,
.toggle-view:active {
  background-color: #289EE5;
}

.menu-toggle {
  grid-column: 1 / 2;
}

.fa-caret-left {
  color: #2CAFFE;
  font-size: 0.8rem;
  margin-right: 3.25px;
  padding-top: 1px;
}

.fa-bars {
  transform: scale(1.15, 1);
  margin-right: 3px;
}

.search-bar {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
}

.search-bar i {
  border: 0;
  color: #ABB4BF;
  font-size: 1.1rem;
  margin-left: 20px;
}

.search-bar input {
  width: 90%;
  margin-left: 9px;
  border: 0;
  color: #9BA4B0;
  font-family: 'Average Sans', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
}

.search-bar input:focus {
  outline: 0;
  color: #9BA4B0;
}

::placeholder {
  color: #ABB4BF;
}

.add-friend {
  grid-column: 3 / 4;
}

.add-event {
  grid-column: 4 / 5;
}

.toggle-view {
  grid-column: 5 / 6;
  border-right: 0;
}

/* header area with job title */

header {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-bottom: 1.3px solid #D3DBE3;
  display: grid;
  grid-template-columns: 91.5%;
  grid-template-rows: 1fr 50px;
  justify-content: space-around;
}

header article {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info {
  height: 25px;
}

h1 {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-size: 1.38rem;
  font-weight: 400;
  color: #5D606C;
}

.subheading {
  margin: 0;
  display: flex;
  align-items: center;
  color: #8A95A4;
  font-family: 'Average Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 0.5;
}

.subheading i {
  margin-right: 3px;
}

h2 {
  font-size: 0.775rem;
  font-weight: normal;
  letter-spacing: 0.25px;
  line-height: 0.775rem;
  margin-top: 7px;
}

.mid-dot {
  margin: 0 5px;
}

.subheading a {
  color: #2CAFFE;
}

.subheading a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.subheading a:active {
  color: #289EE5;
}

.header-buttons {
  width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 25px;
}

.header-buttons button {
  height: 32px;
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  border-radius: 50%;
  border: 1.5px solid #D2DAE2;
  color: #9AA3AF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 7px;
}

.header-buttons button:hover {
  background-color: #2CAFFE;
  border-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.header-buttons button:focus {
  outline: 0;
}

.header-buttons button:active {
  background-color: #289EE5;
}

.header-buttons .job-status {
  width: 75px;
  color: #8A95A4;
  font-size: 0.65rem;
  letter-spacing: 0.3px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.65rem;
  padding-top: 0.65rem;
}

.header-buttons .job-status i {
  color: #8CC63E;
  font-size: 0.62rem;
  margin: 0 3px 2.5px 0;
}

.header-buttons .job-status:hover > i {
  color: #ffffff;
}

/* dashboard view options tabs */

.dashboard-view {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: 100%;
  width: 82%;
  min-width: 650px;
  margin: 0;
  padding-left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Hind', sans-serif;
  color: #8994A4;
}

.dashboard-view h4 {
  border-bottom: 2.5px solid transparent;
  font-weight: 700;
  letter-spacing: 0.5px;
  height: 100%;
  padding-top: 23px;
  align-self: center;
}

.dashboard-view h4:hover {
  color: #676A75;
  cursor: pointer;
  border-bottom: 2.5px solid #2CAFFE;
}

.dashboard-view .active {
  color: #676A75;
  border-bottom: 2.5px solid #2CAFFE;
}

/* dashboard data area */

.dashboard {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: #ECF2F7;
  display: grid;
  grid-template-columns: 91.5%;
  grid-template-rows: 275px 5px 1fr;
  justify-content: center;
  padding-left: 2.5px;
}

.data-charts {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 25%;
  grid-template-columns: 53% 43%;
  grid-gap: 4%;
  justify-items: center;
  align-items: start;
}

.first {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: stretch;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 40%;
}

.chart-circles {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.single-chart {
  width: 33%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 150px;
}

.circle-bg {
  fill: none;
  stroke: #D9E4EB;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: #4ABBC1;
}

.circular-chart.blue .circle {
  stroke: #16A4FA;
}

.circular-chart.purple .circle {
  stroke: #AC66AD;
}

.circle-numbers {
  fill: #586678;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.6rem;
  letter-spacing: -0.25px;
  text-anchor: middle;
}

.circle-subtext {
  fill: #8C97A5;
  font-family: 'Hind', sans-serif;
  font-size: 0.2rem;
  font-weight: 700;
  letter-spacing: 0.1px;
  text-anchor: middle;
}

.lower-first {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-content: center;
  align-items: start;
}

.data-charts button {
  height: 27px;
  width: 165px;
  padding-top: 5.5px;
  border: 1.5px solid #D2DAE2;
  border-radius: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hind', sans-serif;
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 0;
  color: #8A95A4;
}

.data-charts button:hover {
  background-color: #2CAFFE;
  border-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.data-charts button:focus {
  outline: 0;
}

.data-charts button:active {
  background-color: #289EE5;
}

.span-dot {
  font-weight: 700;
  margin: 0 5px;
}

.data-charts .span-nums {
  font-weight: 700;
  margin: 0 3px;
  letter-spacing: 0.6px;
}

.second {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second img {
  margin-top: 15px;
  max-height: 100%;
}

.lower-second .applicants-button {
  margin-left: 13%;
  width: 120px;
}

.bar-chart {
  max-width: 93%;
}

/* horizontal break */

.main-separator {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-bottom: 2px solid #D3DBE3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more-dashboard {
  background-color: #ECF2F7;
  padding-bottom: 1px;
  margin-top: 6px;
  border: 0;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more-dashboard i {
  height: 27px;
  width: 27px;
  background-color: #ffffff;
  border: 1.5px solid #D2DAE2;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9AA3AF;
  font-size: 0.85rem;
}

.show-more-dashboard:hover > i {
  background-color: #2CAFFE;
  border-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.show-more-dashboard:focus {
  outline: 0;
}

.show-more-dashboard:active > i {
  background-color: #289EE5;
}

/* dashboard job details area */

.job-details {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 47px 1px 0;
  display: grid;
  grid-template-columns: 67.25% 27.75%;
  grid-template-rows: 1fr;
  grid-column-gap: 5%;
}

.job-description {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 60.5px 560px;
  grid-template-columns: 1fr;
}

.job-head {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background-color: #6E7D95;
  color: #ffffff;
  font-family: 'Hind', sans-serif;
  letter-spacing: 0.2px;
  font-size: 0.75rem;
  border-radius: 3px 3px 0 0;

}

.job-head h3 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-top: 4px;
}

.job-descript-edit {
  height: 28px;
  width: 65px;
  margin-left: 15px;
  padding: 0 7px;
  border-radius: 2px;
  border: 0;
  background-color: #7B8BA6;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-descript-edit h3 {
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 80%;
  letter-spacing: 0.5px;
  padding-top: 0;
}

.job-descript-edit i {
  margin: 0 3px 2px 0;
}

.job-descript-edit:hover {
  background-color: #ffffff;
  color: #7B8BA6;
  cursor: pointer;
}

.job-descript-edit:active {
  background-color: #eeeeee;
  color: #7B8BA6;
}

.job-body {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-left: 1px solid #E7EDF2;
  border-right: 1px solid #E7EDF2;
  border-bottom: 2px solid #E5ECF1;
  border-radius: 0 0 4px 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 58px) 133px 67px 65px;
  background-color: #ffffff;
  padding: 3px 23px 0;
}

.job-body article {
  border-bottom: 1px solid #EDEEF0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 115px 1fr;
  grid-gap: 10px;
  align-items: center;
}

.job-body h3 {
  grid-column: 1 / 2;
  color: #7A89A0;
  font-family: 'Hind', sans-serif;
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 3px 0 0 3px;
}

.job-body p {
  grid-column: 2 / 3;
  color: #7A89A0;
  font-family: 'Average Sans', sans-serif;
  font-size: 0.815rem;
  line-height: 1.35;
}

.jb-description h3 {
  align-self: start;
  padding-top: 16px;
}

.jb-description p {
  text-align: left;
  padding-right: 20px;
  letter-spacing: 0;
}

.jb-hiring-group {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
}

.jb-hiring-group img {
  margin-right: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #D3DBE3;
  transform: scaleX(-1);
}

.job-body article:last-child {
  border: 0;
  padding-bottom: 7px;
}

.jb-approved-salary p {
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  color: #737E8E;
  padding-top: 2px;
}

.links {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 147px 447px;
  grid-gap: 25px;
}

.social-links {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Average Sans', sans-serif;
  font-size: 0.75rem;
}

.social-links button {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.social-links button:hover {
  cursor: pointer;
}

.social-links i {
  font-size: 0.8rem;
  padding: 3px 0 0 15px;
}

.social-links div {
  padding-right: 15px;
}

.facebook-link {
  background-color: #4A70C2;
}

.facebook-link:hover {
  background-color: #4264AD;
}

.facebook-link:active {
  background-color: #3E5EA3;
}

.twitter-link {
  background-color: #17B2F0;
}

.twitter-link:hover {
  background-color: #16A6E0;
}

.twitter-link:active {
  background-color: #159FD6;
}

.twitter-link i {
  font-size: 1rem;
  padding: 2px 0 0 10px;
}

.linkedin-link {
  background-color: #0582BD;
}

.linkedin-link:hover {
  background-color: #0474A8;
}

.linkedin-link:active {
  background-color: #046B9C;
}

.linkedin-link i {
  font-size: 0.9rem;
  padding: 1px 0 0 10px;
}

.link-box {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 32% 37% 1fr;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.link-box article {
  padding-top: 17.5px;
  border-bottom: 2px solid #D2DAE2;
  color: #8A95A6;
  font-size: 0.7rem;
  font-family: 'Average Sans', sans-serif;
}

.link-box article:first-child {
  padding-top: 0;
}

.link-box article:last-child {
  border-bottom: 0;
  padding-top: 15px;
}

.link-box i {
  font-size: 0.85rem;
  margin: 5px 5px 0 2px;
}

.link-box h2 {
  font-family: 'Hind', sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: -0.25px;
}

.link-box .link-icon-group {
  display: flex;
  color: #6F7A8A;
  margin-bottom: 0;
}

.fa-money-check {
  transform: scaleX(-1);
}

.link-box p {
  line-height: 1.5;
  margin: 0 0 15px 2px;
}

.link-input-group {
  height: 35px;
  width: 100%;
  display: grid;
  grid-template-columns: 78% 22%;
  grid-template-rows: 1fr;
}

.link-input {
  grid-column: 1 / 2;
  border: 0;
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #E7EDF2;
  border-bottom: 2px solid #E5ECF1;
  text-overflow: ellipsis;
  padding: 0 3px 0 10px;
}

.link-submit {
  grid-column: 2 / 3;
  background-color: #47BAC1;
  border: 0;
  border-right: 1px solid #E7EDF2;
  border-bottom: 2px solid #E1E8ED;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  font-size: 0.65rem;
  letter-spacing: 0.5px;
}

.link-submit:hover {
  cursor: pointer;
  background-color: #41AAB0;
}

.link-submit:focus {
  border: 0;
}

.link-submit:active {
  background-color: #3C9DA3;
}


.link-input::placeholder {
  color: #8A95A6;
  font-family: 'Hind', sans-serif;
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.upload-resume .link-input {
  grid-column: 1 / 3;
  border-radius: 4px;
  border-right: 1px solid #E7EDF2;
}

.email-submit {
  color: #8A95A6;
  font-family: 'Hind', sans-serif;
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-align: left;
  padding-top: 2px;
}

/* media queries */

@media screen and (min-width: 1445px) {
  body {
    width: 70vw;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  main {
    border-right: 1.5px solid #EDEEF0;
  }
}

@media screen and (max-width: 1020px) {
  .job-description {
    grid-template-rows: 60.5px 573px;
  }
}

@media screen and (max-width: 933px) {
  .job-body {
    grid-template-rows: repeat(5, 58px) 150px 67px 65px;
  }
}

@media screen and (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
  }

  aside {
    display: none;
  }

  main {
    grid-column: 1 / 2;
  }

  .job-description {
    grid-template-rows: 60.5px 560px;
  }

  .job-body {
    grid-template-rows: repeat(5, 58px) 133px 67px 65px;
  }
}

@media screen and (max-width: 863px) {
  .job-description {
    grid-template-rows: 60.5px 573px;
  }
}

@media screen and (max-width: 777px) {
  .job-body {
    grid-template-rows: repeat(5, 58px) 150px 67px 65px;
  }
}

@media screen and (max-width: 741px) {
  .dashboard {
    grid-template-rows: 575px 5px 1fr;
  }

  .data-charts {
      padding-top: 15px;
      grid-template-rows: 35% 5% 5% 40% 5%;
      grid-template-columns: 1fr;
      grid-gap: 1%;
  }

  .second {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  .second img {
    margin-top: 0;
    max-height: 105%;
  }

  .lower-second {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .lower-second .applicants-button {
    margin-left: 0;
  }

  .job-description {
    grid-template-rows: 60.5px 540px;
  }

  .job-details {
    grid-template-columns: 1fr;
    grid-template-rows: 600px 450px;
  }

  .job-body {
    grid-template-rows: repeat(5, 58px) 116px 67px 65px;
  }

  .links {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-rows: 110px 350px;
    grid-gap: 0;
  }

  .social-links {
    flex-direction: row;
  }

  .social-links button {
    width: 30%;
  }

  .link-box {
    display: flex;
    justify-content: space-between;
  }

  .link-box article,
  .link-box article:last-child {
    width: 30%;
    padding-top: 0;
  }

}
